.App {
  text-align: center;
}
.container-height{
  height: 100%;
}
.NotFound-height{
  height: calc(100vh - 4rem);
}
.container-green{
  @apply h-screen
        container-height
        bg-gradient-to-b
        from-emerald-500
        to-green-400;
}

